<section class="page-section bg-danger py-5" id="contact">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 col-xl-6 text-center">
        <h2 class="text-white mt-0">¡Trabajemos juntos!</h2>
        <hr class="divider" />
        <p class="text-white mb-5">
          Unidos podemos mas, contactame e iniciemos un nuevo proyecto juntos!
        </p>
      </div>
    </div>
    <form class="row g-4">
      <div class="col-md-4">
        <label for="validationDefault01" class="form-label text-white"
          >Nombre</label
        >
        <input
          type="text"
          class="form-control"
          id="validationDefault01"
          placeholder="Tu nombre"
          required
        />
      </div>
      <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label text-white"
          >Email</label
        >
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
          <input
            type="email"
            class="form-control"
            id="validationDefaultUsername"
            aria-describedby="inputGroupPrepend2"
            required
          />
        </div>
      </div>
      <div class="col-md-6">
        <label for="validationDefault03" class="form-label text-white"
          >Mensaje</label
        >
        <textarea
          class="form-control"
          id="validationDefault03"
          rows="3"
          required
        ></textarea>
      </div>
      <div class="col-12">
        <button class="btn btn-secondary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>
